@using System.Web.Mvc.Html
@model Brandy.Security.Web.Forms.ChangePassword

@{
    ViewBag.Title = "Изменение пароля";
}

<h2>Изменение пароля</h2>
<p>
    Заполните форму, чтобы изменить пароль. 
</p>
<p>
    Новый пароль должен быть как минимум @ViewBag.PasswordLength символов в длину.
</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Попытка изменения пароля неудачна.")
    <div>
        <fieldset>
            @Html.EditorForModel()
            <p>
                <input type="submit" value="Изменить пароль" />
            </p>
        </fieldset>
    </div>
}